<div class="container-overlap bg-indigo-500 ng-scope">
    <div class="media m0 pv">
        <div class="media-body media-middle">
            <h4 class="media-heading">BBS home page</h4><span class="text-muted">List the latest questions</span>
        </div>
    </div>
</div>
<div class="container-lg ng-scope">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="card">
                <div class="card-body">
                    <form class="mt ng-pristine ng-valid" action="">
                        <div class="input-group mda-input-group">
                            <div class="mda-form-group">
                                <div class="mda-form-control">
                                    <input tabindex="0" class="no-resize form-control" aria-invalid="false" aria-multiline="false" rows="1"></input>
                                    <div class="mda-form-control-line"></div>
                                    <label class="m0">Search for an answer?</label>
                                </div><span class="mda-form-msg right">Post your keywords here</span>
                            </div><span class="input-group-btn">
                                <button class="btn btn-flat btn-success btn-circle" type="button"><em class="ion-checkmark-round"></em></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <!-- Inner card-->
                    <div class="card">
                        <div class="card-heading">
                            <!-- START dropdown-->
                            <div class="pull-right dropdown" uib-dropdown="dropdown2">
                                <button class="btn btn-default btn-flat btn-flat-icon dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
                                <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="">Hide post</a></li>
                                    <li><a href="">Stop following</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li><a href="">Report</a></li>
                                </ul>
                            </div>
                            <!-- END dropdown-->
                            <div class="media m0">
                                <div class="media-left"><a href="#"><img class="media-object img-circle thumb48" alt="User" src="app/img/user/06.jpg"></a></div>
                                <div class="media-body media-middle pt-sm">
                                    <p class="media-heading m0 text-bold">Stephen Palmer</p><small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>2 hours</span></small>
                                </div>
                            </div>
                            <div class="p">Ut egestas consequat faucibus. Donec id lectus tortor. Maecenas at porta purus. Etiam feugiat risus massa. Vivamus fermentum libero vel felis aliquet interdum. </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-flat btn-primary" type="button">Like</button>
                            <button class="btn btn-flat btn-primary" type="button">Share</button>
                            <button class="btn btn-flat btn-primary" type="button">Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>