<div ng-controller="blogHomeController">
    <div class="container-overlap bg-indigo-500">
        <div class="media m0 pv">
            <div class="media-body media-middle">
                <h4 class="media-heading">Blog home page</h4><span class="text-muted">List all blog type</span>
            </div>
        </div>
    </div>

    <div class="container container-lg">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-6" ng-repeat="type in bolgTypes">
                        <div class="card">
                            <div class="card-heading">
                                <div class="card-title">{{ type.Name }}</div>
                            </div>
                            <div class="card-body">{{ type.Description }}</div>
                            <div class="card-footer">
                                <button class="btn btn-flat btn-primary" type="button" ng-click="viewDetail(type.Id)">View</button>
                                <button class="btn btn-flat btn-primary" type="button" ng-click="mark(type.Id)">Like</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>