<div class="container-overlap bg-indigo-500 ng-scope">
    <div class="media m0 pv">
        <div class="media-body media-middle">
            <h4 class="media-heading">BBS new question page</h4><span class="text-muted">Post your new question here!</span>
        </div>
    </div>
</div>
<div class="container-lg ng-scope">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="card">
                <div class="card-body">
                    <form class="mt ng-pristine ng-valid" action="">
                        <div class="input-group mda-input-group">
                            <div class="mda-form-group">
                                <div class="mda-form-control">
                                    <input tabindex="0" class="no-resize form-control" aria-invalid="false" aria-multiline="false" rows="1"></input>
                                    <div class="mda-form-control-line"></div>
                                    <label class="m0">Title</label>
                                </div><span class="mda-form-msg right">Post your question title here</span>
                            </div>
                            <span class="input-group-btn">
                            </span>
                        </div>
                        <div class="input-group mda-input-group">
                            <div class="mda-form-group">
                                <div class="mda-form-control">    
                                    <input tabindex="0" class="no-resize form-control" aria-invalid="false" aria-multiline="false" rows="1"></input>     
                                    <div class="mda-form-control-line"></div>
                                    <label class="m0">Tags</label>
                                </div><span class="mda-form-msg right">Post your tags here</span>
                            </div>
                            <span class="input-group-btn">
                            </span>
                        </div>
                        <div class="input-group mda-input-group">
                            <div class="mda-form-group">
                                <div class="mda-form-control">
                                    <textarea ui-tinymce></textarea>
                                    <div class="mda-form-control-line"></div>
                                    <label class="m0">Tags</label>
                                </div><span class="mda-form-msg right">Post your tags here</span>
                            </div>
                            <span class="input-group-btn">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>